version: "3.9"
services:
  mongo:
    image: mongo:7
    container_name: ctm-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ctm-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      PORT: 4000
      MONGO_URI: mongodb://mongo:27017/collaborative_task_manager
      CLIENT_URL: http://localhost:5173
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ctm-frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: http://backend:4000
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
